doctype html
html(lang="en")
    head
        include ../helpers/_variables.pug
        - var pageName = "Courses";
        include ../includes/_head.pug
    body
        include ../helpers/_mixins.pug

        section.page
            include ../components/_sidebar.pug
            .content
                include ../components/_header.pug
                +page-heading("Courses")
                #courses-container
        .sidebar-overlay

        include ../includes/_scripts.pug