doctype html
html(lang="en")
    head
        include ../helpers/_variables.pug
        - var pageName = "Files";
        include ../includes/_head.pug
    body
        include ../helpers/_mixins.pug

        section.page
            include ../components/_sidebar.pug
            .content
                include ../components/_header.pug
                +page-heading("Files")
                .files-page
                    #files-container
                    .files-stats
                        h2 Files Statistics
                        div.pdf
                            i.fa-regular.fa-file-pdf.fa-lg
                            .info
                                span PDF Files
                                span 128 Files
                            span 2.3 GB
                        div.images
                            i.fa-regular.fa-images.fa-lg
                            .info
                                span Images Files
                                span 564 Files
                            span 3.8 GB
                        div.word
                            i.fa-regular.fa-file-word.fa-lg
                            .info
                                span Word Files
                                span 107 Files
                            span 1.4 GB
                        div.csv
                            i.fa-solid.fa-file-csv.fa-lg
                            .info
                                span CSV Files
                                span 83 Files
                            span 2.9 GB
                        a.upload(href="#")
                            i.fa-solid.fa-angles-up.fa-bounce
                            | Upload
        .sidebar-overlay

        include ../includes/_scripts.pug