doctype html
html(lang="en")
    head
        include ../helpers/_variables.pug
        - var pageName = "Plans";
        include ../includes/_head.pug
    body
        include ../helpers/_mixins.pug

        section.page
            include ../components/_sidebar.pug
            .content
                include ../components/_header.pug
                +page-heading("Plans")
                .plans-container
                    .plan.free
                        div
                            h2 Free
                            span 0.00
                        ul
                            each item in [["Access All Text Lessons", "true"], ["Access All Videos Lessons", "true"], ["Appear On Leaderboard", "true"], ["Browse Content Without Ads", "false"], ["Access All Assignments", "false"], ["Get Daily Prizes", "false"], ["Earn Certificate", "false"], ["1 GB Space For Hosting Files", "false"], ["Access Badge System", "false"]]
                                +plans-item(item[0], item[1])
                    .plan.basic.current
                        div
                            h2 Basic
                            span 7.99
                        ul
                            each item in [["Access All Text Lessons", "true"], ["Access All Videos Lessons", "true"], ["Appear On Leaderboard", "true"], ["Browse Content Without Ads", "true"], ["Access All Assignments", "true"], ["Get Daily Prizes", "true"], ["Earn Certificate", "true"], ["1 GB Space For Hosting Files", "false"], ["Access Badge System", "false"]]
                                +plans-item(item[0], item[1])
                    .plan.premium
                        div
                            h2 Premium
                            span 19.99
                        ul
                            each item in [["Access All Text Lessons", "true"], ["Access All Videos Lessons", "true"], ["Appear On Leaderboard", "true"], ["Browse Content Without Ads", "true"], ["Access All Assignments", "true"], ["Get Daily Prizes", "true"], ["Earn Certificate", "true"], ["1 GB Space For Hosting Files", "true"], ["Access Badge System", "true"]]
                                +plans-item(item[0], item[1])
        .sidebar-overlay

        include ../includes/_scripts.pug