include ../helpers/_mixins.pug
include ../helpers/_variables.pug

aside.sidebar
    button#close-sidebar.fa-solid.fa-rectangle-xmark(title="Close", type="button")
    h3 #{dashboardName}
    ul.page-links
        each item in [["index", "fa-solid fa-chart-bar", "Dashboard"], ["profile", "fa-solid fa-user", "Profile"], ["statistics", "fa-solid fa-chart-line", "Statistics"],["settings", "fa-solid fa-gear", "Settings"], ["projects", "fa-solid fa-diagram-project", "Projects"], ["courses", "fa-solid fa-graduation-cap", "Courses"], ["friends", "fa-solid fa-user-group", "Friends"], ["files", "fa-solid fa-file", "Files"], ["plans", "fa-solid fa-credit-card", "Plans"]]
            +side-bar-item(item[0], item[1], item[2])
    ul
        +side-bar-item("#", "fa-solid fa-arrow-right-from-bracket fa-rotate-180", "Logout")
        li#sidebar-check
            +switch-toggle(false)
    footer
        div
            p 
                | Made By
                span  #{dashboardName}
            p 
                | Designed By
                span  Elzero
        div
            p All rights reserved &reg;
            p 
                | Copyrights at
                span  #{currentYear}
                |  &copy;