@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/global_rules";

@use "../components/header";
@use "../components/sidebar";

#courses-container {
    @include wrapper(300px, 200px);
    .course {
        position: relative;
        padding: 0;
        overflow: hidden;
        .cover {
            width: 100%;
        }
        .instructor {
            @include circleImage(64px);
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .name {
            padding: 20px;
            p {
                line-height: 1.6;
                font-size: 14px;
                color: $dark-grey-color;
                margin-block: 15px 10px;
            }
        }
        .info {
            padding: 15px;
            position: relative;
            @include flexbox("space-between", "center");
            font-size: 13px;
            border-top: 1px solid $light-grey-color;
            span {
                position: relative;
                &:not(.title) {
                    &:nth-child(1) {
                        left: 10px;
                        &::before {
                            content: "\f007";
                            position: absolute;
                            top: 3px;
                            left: -15px;
                            font: var(--fa-font-regular);
                            color: $blue-alt-color;
                            font-size: 12px;
                        }
                    }
                    &:nth-child(2)::before {
                        content: "\24";
                        position: absolute;
                        top: 0px;
                        left: -10px;
                        color: $green-color;
                    }
                }
                &.title {
                    position: absolute;
                    top: -13px;
                    left: 50%;
                    font-size: 13px;
                    @include transform(translateX(-50%));
                    @include button($blue-color);
                    cursor: default !important;
                    &:hover {
                        -webkit-filter: unset !important;
                        filter: unset !important;
                    }
                }
            }
        }
    }
}
