@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/global_rules";

@use "../components/header";
@use "../components/sidebar";

.files-page {
    display: flex;
    margin-inline-end: 20px;
    @media (max-width: $mobile-view) {
        gap: 20px;
        margin-inline: 20px;
        flex-direction: column-reverse;
    }
    #files-container {
        flex: 1;
        @include wrapper(200px, 200px);
        @media (max-width: $mobile-view) {
            margin: 0;
        }
        .file {
            position: relative;
            padding: 10px;
            border: 2px solid transparent;
            @include transDur($duration, "ease-in-out");
            &:hover {
                border-color: $blue-color;
                > i {
                    color: $blue-color;
                }
                .image-holder {
                    img {
                        @include transform(rotate(10deg));
                    }
                }
                p {
                    + div {
                        border-color: $blue-color;
                    }
                }
            }
            > i {
                position: absolute;
                top: 10px;
                left: 10px;
                color: $dark-grey-color;
                cursor: pointer;
            }
            .image-holder {
                text-align: center;
                margin-top: 20px;
                img {
                    width: 64px;
                    height: 64px;
                    margin-block: 10px;
                    @include transDur($duration, "ease-in-out");
                }
            }
            h6 {
                text-align: center;
                font-size: 14px;
            }
            p {
                color: $dark-grey-color;
                font-size: 13px;
                margin-block: 20px 5px;
                + div {
                    padding-top: 10px;
                    font-size: 12px;
                    color: $dark-grey-color;
                    border-top: 1px solid $light-grey-color;
                    @include transDur($duration, "ease-in-out");
                    @include flexbox("space-between", "center");
                }
            }
        }
    }
    .files-stats {
        background-color: $white-color;
        min-width: 260px;
        height: fit-content;
        padding: 20px;
        @include bRad(10px);
        @include flexbox("flex-start", "center", "column", "", "15px");
        @media (min-width: #{$mobile-view + 1}) {
            position: sticky;
            top: 10px;
            left: 20px;
        }
        h2 {
            width: 100%;
        }
        > div {
            width: 100%;
            padding: 10px;
            font-size: 13px;
            border: 1px solid $light-grey-color;
            @include bRad(5px);
            @include flexbox("center", "center");
            @include transDur($duration, "ease-in-out");
            @each $class, $colour in $files-list {
                &.#{$class} {
                    i {
                        color: $colour;
                        background-color: rgba($color: $colour, $alpha: 0.2);
                    }
                }
            }
            &:hover {
                background-color: #f7f7f7;
                border-color: $blue-color;
            }
            i {
                @include flexbox("center", "center");
                width: 40px;
                height: 40px;
            }
            .info {
                flex: 1;
                padding-left: 10px;
                span {
                    display: block;
                    margin-block: 5px;
                    &:last-child {
                        color: $dark-grey-color;
                        font-size: 12px;
                    }
                }
            }
            > span {
                color: $dark-grey-color;
            }
        }
        a.upload {
            display: block;
            margin: 0 auto;
            font-size: 16px;
            @include button($blue-color);
            padding: 10px 15px;
            i {
                margin-inline-end: 10px;
            }
        }
    }
}

body[data-theme="dark"] {
    .files-page {
        .files-stats {
            background-color: $dark-mode-black;
            color: $dark-mode-white;
            > div {
                border-color: $dark-grey-color;
                &:hover {
                    background-color: $dark-mode-grey;
                }
            }
        }
    }
}
