@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;
@use "../helpers/global_rules";

.sidebar {
    @include flexbox("space-between", "center", "column");
    position: sticky;
    top: 0;
    padding: 10px 20px;
    width: 280px;
    height: 100vh;
    box-shadow: 0 0 10px $grey-color;
    background-color: $white-color;
    z-index: 99;
    @include transDur($duration, "ease-in-out");
    @media (max-width: $mobile-view) {
        position: fixed;
        height: 100%;
        left: -1000px;
    }
    &.show {
        left: 0;
    }
    & > * {
        width: 100%;
    }
    #close-sidebar {
        color: $red-color;
        align-self: flex-end;
        width: fit-content;
        font-size: 24px;
        cursor: pointer;
        @media (min-width: #{$mobile-view + 1}) {
            display: none;
        }
    }
    h3 {
        position: relative;
        text-align: center;
        font-family: "Cookie", cursive;
        font-size: 34px;
        user-select: none;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 130%;
            left: 50%;
            background-color: $black-color;
            @include transform(translate(-50%, -50%));
        }
        &::before {
            width: 45%;
            height: 2px;
        }
        &::after {
            width: 12px;
            height: 12px;
            border: 4px solid $white-color;
            @include bRad(50%);
        }
    }
    ul {
        @include flexbox("", "", "column", "", "5px");
        li {
            .sidebar-link {
                padding: 10px;
                font-size: 14px;
                color: $black-color;
                @include flexbox("", "center");
                @include bRad(6px);
                &.active {
                    color: $blue-color;
                }
                &.active,
                &:hover {
                    background-color: #f6f6f6;
                    @include transDur($duration, "ease-in-out");
                }
                &:hover {
                    i {
                        margin-inline-end: 15px;
                    }
                }
                i {
                    margin-top: 2px;
                    margin-inline-end: 10px;
                    @include transDur($duration, "ease-in-out");
                }
            }
        }
        &:not(.page-links) {
            li {
                a {
                    &:hover {
                        i {
                            margin-inline-end: 10px !important;
                        }
                    }
                    i {
                        color: $red-color;
                    }
                }
            }
            #sidebar-check {
                margin-inline-start: 10px;
                .toggle-checkbox {
                    &:checked {
                        + .toggle-switch {
                            background-color: $blue-color;
                            &::before {
                                content: "\f186";
                                left: calc(100% - 22px);
                            }
                        }
                    }
                }
                .toggle-switch {
                    height: 24px;
                    &::before {
                        content: "\f185";
                        color: $orange-color;
                        width: 18px;
                        height: 18px;
                        top: 3px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    footer {
        div {
            padding: 2.5px;
            padding-left: 10px;
            font-size: 14px;
            span {
                color: $blue-color;
                font: {
                    family: "Cookie", cursive;
                    weight: bold;
                    size: 22px;
                }
            }
        }
    }
}

body[data-theme="dark"] {
    .sidebar {
        background-color: $dark-mode-black;
        color: $dark-mode-white;
        h3 {
            &::before,
            &::after {
                background-color: $dark-mode-white;
            }
            &::after {
                background-color: $dark-mode-white;
                border-color: $dark-mode-black;
            }
        }
        ul {
            li {
                .sidebar-link {
                    color: $dark-mode-white;
                    &.active {
                        color: $blue-color;
                    }
                    &:hover,
                    &.active {
                        background-color: $dark-mode-grey;
                    }
                }
            }
        }
    }
}
