@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: $white-color;
}
::-webkit-scrollbar-thumb {
    background-color: $blue-color;
    &:hover {
        background-color: $blue-alt-color;
    }
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    .swal2-success-ring {
        border-color: rgba($color: $green-color, $alpha: 0.75);
    }
    div:where(.swal2-icon).swal2-success [class^="swal2-success-line"] {
        background-color: $green-color;
    }
    .swal2-confirm.swal2-styled {
        background-color: $blue-color;
    }
    .swal2-cancel.swal2-styled {
        background-color: $red-color;
    }
    div:where(.swal2-icon).swal2-warning {
        color: $orange-color;
        border-color: rgba($color: $orange-color, $alpha: 0.75);
    }
    &[data-theme="dark"] {
        * {
            box-shadow: unset !important;
            border-color: #3c4043;
        }
        .page-heading {
            color: $dark-mode-white;
            &::after {
                background-color: rgba($color: $dark-mode-grey, $alpha: 1);
            }
        }
        .box,
        .plan {
            background-color: $dark-mode-black !important;
            color: $dark-mode-white !important;
        }
        .toggle-switch {
            background-color: $dark-grey-color !important;
        }
        .toggle-checkbox {
            &:checked {
                + .toggle-switch {
                    background-color: $blue-color !important;
                }
            }
        }
        div.swal2-container.swal2-center.swal2-backdrop-show {
            .swal2-modal {
                background-color: $dark-mode-black;
                .swal2-success-ring {
                    border-color: rgba($color: $green-color, $alpha: 0.75);
                }
                div:where(.swal2-icon).swal2-success
                    [class^="swal2-success-line"] {
                    background-color: $green-color;
                }
                .swal2-title,
                .swal2-html-container {
                    color: $dark-mode-white;
                }
                .swal2-confirm.swal2-styled {
                    background-color: $blue-color;
                }
                div.swal2-success-fix[style],
                div.swal2-success-circular-line-right[style],
                div.swal2-success-circular-line-left[style] {
                    background-color: transparent !important;
                }
            }
        }
    }
    @media (max-width: $mobile-view) {
        .sidebar-overlay {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 90;
        }
    }
}
button {
    outline: none;
    border: none;
    cursor: pointer;
}
input,
textarea {
    outline: none;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.page-heading {
    position: relative;
    margin: 20px 20px 40px;
    font-size: 2em;
    @media (max-width: $mobile-view) {
        margin-top: 80px;
    }
    &::before {
        width: 120px;
        background-color: $white-color;
    }
    &::after {
        width: 40px;
        background-color: $black-color;
    }
    &::before,
    &::after {
        content: "";
        height: 3px;
        position: absolute;
        bottom: -10px;
        left: 0;
    }
}
.box-header {
    i {
        color: $blue-alt-color;
        position: relative;
        bottom: 2px;
    }
    > h2 {
        display: inline-block;
        margin: 0 0 20px 10px;
        @media (max-width: $mobile-view) {
            font-size: 1.25em;
        }
    }
    > p {
        margin-block: 10px 20px;
        color: $dark-grey-color;
        font-size: 15px;
    }
}
label.switch {
    .toggle-checkbox {
        appearance: none;
        display: none;
        &:checked {
            + .toggle-switch {
                background-color: $blue-color;
                &::before {
                    content: "\f00c";
                    left: 50px;
                    color: $green-color;
                }
            }
        }
    }
    .toggle-switch {
        position: relative;
        background-color: $grey-color;
        width: 78px;
        height: 32px;
        cursor: pointer;
        @include bRad(16px);
        @include transDur($duration, "ease-in-out");
        &::before {
            content: "\f00d";
            position: absolute;
            top: 4px;
            left: 4px;
            width: 24px;
            height: 24px;
            color: $red-color;
            background-color: $white-color;
            font: var(--fa-font-solid);
            @include bRad(50%);
            @include flexbox("center", "center");
            @include transDur($duration, "ease-in-out");
        }
    }
}
.custom-checkbox {
    appearance: none;
    &:checked {
        + label {
            &::after {
                @include transform(scale(1));
            }
        }
    }
}
.custom-checkbox-label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -11px;
        @include bRad(4px);
    }
    &::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 2px solid $dark-grey-color;
    }
    &::after {
        content: "\f00c";
        font: var(--fa-font-solid);
        font-size: 12px;
        width: 18px;
        height: 18px;
        background-color: $blue-color;
        color: $white-color;
        @include flexbox("center", "center");
        @include transform(scale(0) rotate(360deg));
        @include transDur($duration, "ease-in-out");
    }
}
.custom-radio {
    @extend .custom-checkbox;
    &:checked {
        + label {
            &::before {
                border-color: $blue-color;
            }
        }
    }
}
.custom-radio-label {
    @extend .custom-checkbox-label;
    &::before,
    &::after {
        content: "";
        @include bRad(50%);
    }
    &::before {
        width: 18px;
        height: 18px;
    }
    &::after {
        width: 12px;
        height: 12px;
        top: 68%;
        left: 5%;
    }
}
.subtitle {
    h4 {
        font-weight: normal;
    }
    p {
        margin-top: 5px;
        font-size: 13px;
        color: $dark-grey-color;
    }
}
%red-color-circle {
    content: "";
    position: absolute;
    top: 0;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: $red-color;
    @include bRad(50%);
}
%basic-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: $light-grey-color;
    border-bottom: 3px solid transparent;
    @include bRad(6px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @include transDur($duration, "ease-in-out");
    &:focus {
        border-color: $blue-color;
    }
}
%hide-mobile {
    @media (max-width: 767px) {
        display: none !important;
    }
}
%list-with-separator {
    padding: 15px 5px;
    @include transDur($duration, "ease-in-out");
    @include flexbox("space-between", "center");
    @include notLastBorderPadding(1px, $light-grey-color, 5px);
    &:hover {
        border-color: $blue-alt-color;
        background-color: $light-grey-color;
    }
    div {
        flex: 1;
        @extend .subtitle;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}
@keyframes pulse {
    100% {
        @include transform(scale(2.5));
        opacity: 0;
    }
}
